<a href="https://colab.research.google.com/github/Sanjayme049/EDA/blob/main/Pandas6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
import pandas as pd

In [3]:
people = {
    "first":["Corey", "Jane", "John"],
    "last":["Schafer", "Doe", "Doe"],
    "email":["CoreyMschafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

   first     last                    email
0  Corey  Schafer  CoreyMschafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

In [6]:
df['first'] + ' ' + df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [7]:
df['full_name'] = df['first'] + ' ' +df['last']

In [8]:
df

   first     last                    email      full_name
0  Corey  Schafer  CoreyMschafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@gmail.com       Jane Doe
2   John      Doe        JohnDoe@gmail.com       John Doe

In [9]:
df.drop(columns = ['first', 'last'], inplace=True)

In [10]:
df

                     email      full_name
0  CoreyMschafer@gmail.com  Corey Schafer
1        JaneDoe@gmail.com       Jane Doe
2        JohnDoe@gmail.com       John Doe

In [13]:
df['full_name'].str.split(' ', expand=True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [14]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand=True)

In [15]:
df

                     email      full_name  first     last
0  CoreyMschafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe

In [17]:
df.append({'first': 'Tony'},ignore_index=True)

                     email      full_name  first     last
0  CoreyMschafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3                      NaN            NaN   Tony      NaN

In [19]:
people = {
    "first":["Tony", "Steve"],
    "last":['Stark', 'Rogers'],
    "email":["IronMan@avenge.com", "Cap@avenge.com"]
}

In [20]:
df2 = pd.DataFrame(people)

In [22]:
df2

   first    last               email
0   Tony   Stark  IronMan@avenge.com
1  Steve  Rogers      Cap@avenge.com

In [29]:
df=df.append(df2, ignore_index=True, sort=False)

In [30]:
df

                     email      full_name  first     last
0  CoreyMschafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers

In [31]:
df.drop(index=4)

                     email      full_name  first     last
0  CoreyMschafer@gmail.com  Corey Schafer  Corey  Schafer
1        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2        JohnDoe@gmail.com       John Doe   John      Doe
3       IronMan@avenge.com            NaN   Tony    Stark

In [35]:
filt = df['last'] == 'Doe'
df.drop(index=df[filt].index)

                     email      full_name  first     last
0  CoreyMschafer@gmail.com  Corey Schafer  Corey  Schafer
3       IronMan@avenge.com            NaN   Tony    Stark
4           Cap@avenge.com            NaN  Steve   Rogers